<html>
<head>
<title>SteveBot - The Steve Mallett Resume Chat Bot</title>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>SteveBot</h2>

<h3>The Steve Mallett Resume Chat Bot.</h3>
Try it out with:
<p><a href="http://m.me/stevebotco">Facebook Messenger</a>
</body>
</html>
